<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="rrbot_ros2_control" params="
               name
               prefix
               use_mock_hardware:=^|false
               mock_sensor_commands:=^|false
               sim_gazebo_classic:=^|false
               sim_gazebo:=^|false"
               >
    <ros2_control name="${name}" type="system">
      <hardware>
	    <plugin>my_hardware_interface/RRBotHardwareInterface</plugin>
      
      <param name="can_device_count">1</param>
        <xacro:if value="${use_mock_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">${mock_sensor_commands}</param>
        </xacro:if>
        <xacro:if value="${sim_gazebo_classic}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:if value="${sim_gazebo}">
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_mock_hardware or sim_gazebo_classic or sim_gazebo}">
        </xacro:unless>
      </hardware>
      
      <joint name="friction_wheel1_joint">
        <command_interface name="velocity">
            <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="velocity">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <param name="initial_value">0.0</param>
            <param name="can_bus">can0</param>
            <param name="tx_id">1</param>
            <param name="offset">0</param>
            <param name="motor_type">M3508</param>
        
      </joint>
      <joint name="friction_wheel2_joint">
        <command_interface name="velocity">
            <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="velocity">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <param name="initial_value">0.0</param>
            <param name="can_bus">can0</param>
            <param name="tx_id">2</param>
            <param name="offset">0</param>
            <param name="motor_type">M3508</param>
        
      </joint>
      <joint name="friction_wheel3_joint">
        <command_interface name="velocity">
            <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="velocity">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <param name="initial_value">0.0</param>
            <param name="can_bus">can0</param>
            <param name="tx_id">3</param>
            <param name="offset">0</param>
            <param name="motor_type">M3508</param>
        
      </joint>
      <joint name="friction_wheel4_joint">
        <command_interface name="velocity">
            <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="velocity">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <param name="initial_value">0.0</param>
            <param name="can_bus">can0</param>
            <param name="tx_id">4</param>
            <param name="offset">0</param>
            <param name="motor_type">M3508</param>
        
      </joint>
       <joint name="pitch_joint">
            <param name="can_bus">can0</param>
            <param name="tx_id">1</param>
            <param name="offset">4649</param>
            <param name="motor_type">GM6020</param>

            <command_interface name="position"></command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="yaw_joint">
            <param name="can_bus">can0</param>
            <param name="tx_id">2</param>
            <param name="offset">6668</param>
            <param name="motor_type">GM6020</param>

            <command_interface name="position"></command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>

  </xacro:macro>
</robot>
